name: Build and Push Docker Image

on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
    paths:
      - 'go.mod'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config-inline: |
            [worker.oci]
              max-parallelism = 4
            [[worker.oci.gcpolicy]]
              keepBytes = 10737418240
              keepDuration = 604800
              filters = ["type==source.local", "type==exec.cachemount", "type==source.git.checkout"]
            [[worker.oci.gcpolicy]]
              all = true
              keepBytes = 53687091200

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Go Build
        uses: actions/cache@v4
        id: go-build-cache
        with:
          path: |
            go-build-cache
            go-mod-cache
          key: ${{ runner.os }}-go-build-cache-v2-${{ hashFiles('go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-build-cache-v2-

      - name: Inject BuildKit Cache
        uses: reproducible-containers/buildkit-cache-dance@v3
        with:
          cache-map: |
            {
              "go-build-cache": "/root/.cache/go-build",
              "go-mod-cache": "/go/pkg/mod"
            }
          skip-extraction: false            

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=latest,enable=${{ !contains(github.ref, '-') }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
